<!DOCTYPE html>
html(lang="en")
head
	link(rel="stylesheet", href="app/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="app/public/main.css")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Document
	script(src="app/js/jquery.min.js")
	script(src="app/js/main.js")
body
	.wrapper
		header
			

			a(href="#") author
			ul.nav
				li
					a(href="#") home
				li
					a(href="#") service
				li
					a(href="#") portfolio
				li
					a(href="#team") team
				li
					a(href="#") blog
				li
					a(href="#fut") contactus
		.slide-wrap
			article
				h1 This is a main heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat minus explicabo, corporis minima eaque saepe hic enim eos tempora ullam!
				a(href="#") Learn More
			input(type="radio" name="but" id="but1" checked)
			input(type="radio" name="but" id="but2")
			input(type="radio" name="but" id="but3")
			input(type="radio" name="but" id="but4")
			.controls
				label(for="but1") 
					span
				label(for="but2")
					span 
				label(for="but3")
					span 
				label(for="but4")
					span 
			.slide-block
				section.slider1
					img(src="./app/img/sld1.png", alt="")
				section.slider2
					img(src="./app/img/sld2.png", alt="")
				section.slider3
					img(src="./app/img/sld3.png", alt="")
				section.slider4
					img(src="./app/img/sld4.png", alt="")
		#team
			h2 The Team
			.figures
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Adrian Thomas
						p CEO & Founder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ea.
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Narate Ketram 
						p Creativespan Director
						ps Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, tempore.
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Fernando Comet
						p CEO & Founder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, nostrum?
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Adedayo saheed 
						p Creative Director
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, laudantium?
		.price-list
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $5.01/Month		
					li.header Basic			
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $10.01/ Month		
					li.header Pro	
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $20.01/ Month	
					li.header Premium					
		footer#fut
			img(src="app/img/base.png", alt="")
			.footer-content
				h2 contact us
				article.social
					h2 get in touch with us
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quia quidem quae atque illo facilis asperiores ratione aspernatur dignissimos optio molestiae nulla tempore, illum aut? Maxime dolor delectus, consequatur atque.
					.icons
						a(href="#")
							i(class="fa fa-facebook" aria-hidden="true")
						a(href="#")
							i(class="fa fa-twitter" aria-hidden="true")
						a(href="#")
							i(class="fa fa-google-plus" aria-hidden="true")

				form
					input(type="text" placeholder="Name" min="10" max="100" step="10")
					input(type="email" placeholder="Email" min="10" max="100" step="10")
					<br>
					textarea(name="", cols="20", rows="10" placeholder="message")
					<br>
					button(type="submit" class="form-btn" id="submit") Send










