<!DOCTYPE html>
html(lang="en")
head
	link(rel="stylesheet", href="app/public/main.css")
	meta(charset="UTF-8")
	title Document
body
	.wrapper
		header
			a(href="#") author
			ul.nav
				li
					a(href="#") home
				li
					a(href="#") service
				li
					a(href="#") portfolio
				li
					a(href="#team") team
				li
					a(href="#") blog
				li
					a(href="#") contactus
		.slide-wrap
			input(type="radio" name="but" id="but1" checked)
			input(type="radio" name="but" id="but2")
			input(type="radio" name="but" id="but3")
			input(type="radio" name="but" id="but4")
			.controls
				label(for="but1") 
					span
				label(for="but2")
					span 
				label(for="but3")
					span 
				label(for="but4")
					span 
			.slide-block
				section.slider1
					h2 slider1
					p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam perspiciatis reprehenderit et possimus facilis delectus necessitatibus, quaerat odit inventore voluptates?
					img(src="./app/img/sld1.png", alt="")
				section.slider2
					h2 slider2
					p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ex placeat deserunt nesciunt voluptates cumque recusandae, illo delectus commodi eaque!
					img(src="./app/img/sld2.png", alt="")
				section.slider3
					h2 slider3
					p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde inventore explicabo delectus totam necessitatibus nobis, molestias molestiae. A, ex. Veniam.
					img(src="./app/img/sld3.png", alt="")
				section.slider4
					h2 slider4
					p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde inventore explicabo delectus totam necessitatibus nobis, molestias molestiae. A, ex. Veniam.
					img(src="./app/img/sld4.png", alt="")
		#team
			h2 The Team
			.figures
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Adrian Thomas
						p CEO & Founder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ea.
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Narate Ketram 
						p Creativespan Director
						ps Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, tempore.
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Fernando Comet
						p CEO & Founder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, nostrum?
				.card
					img(src="app/img/index-1.png", alt="")
					.container
						h3 Adedayo saheed 
						p Creative Director
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, laudantium?
		.price-list
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $5.01/Month		
					li.header Basic			
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $5.01/Month		
					li.header Pro	
			.columns
				ul.price
					li.grey.but
						a(href="#" class="button") Buy now
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li Lorem ipsum dolor.
					li.grey $5.01/Month		
					li.header Premium					












