*
	margin: 0
	padding: 0
	box-sizing border-box
	border none

img
	width 100%
	height: auto
a
	text-decoration none
	color #000
	opacity 1
li 
	list-style-type none
body
	font: 14px "Sans-serif";
	.wrapper
		max-width 1920px
		header
			overflow hidden
			height 100px
			position: fixed
			z-index 5
			left 0
			right 0
			top 0
			background: #fff
			
			>a
				float left
				width 200px
				line-height 100px
				font-size: 30px
				text-transform: capitalize
				text-indent: 40px
				color #49CBCD
				&:hover
					text-shadow: 0 0 3px #49CBCD
			.nav
				float right
				width 41%
				height 100%
				line-height 100px
				text-align: center
				margin-right 7%
				li
					float left
					height 100%
					width calc(100%/6)
					a
						display block
						width 100%
						height 100%
						padding 5px
						color #000
						text-transform: capitalize
						&:hover
							background: #F8F9FB
							border-bottom 3px solid #4FCACB
							text-shadow: 0 0 1px #000
		.slide-wrap
			width 100%
			margin-top 100px
			
			
			overflow hidden
			position: relative
			filter: grayscale(.4)
			transition 1s all ease
			&:hover
				filter: grayscale(0)
			&:hover>article>h1
				text-shadow: 0 0 5px #fff
			article
				position: absolute
				left 0
				top 0
				right 0
				height 100%	
				h1
					position: absolute
					z-index 2
					color #fff
					top 30%
					left 50%
					transform translateX(-50%)
					font-size 30px
					
				p
					position: absolute
					z-index 2
					top 40%
					left 50%
					transform translateX(-50%)
					color #fff
					text-align: center
				a
					z-index 2
					color #fff
					position: absolute
					bottom 20%
					left 50%
					transform translateX(-50%)
					color #fff
					text-align: center
					display block
					width 150px
					height 40px
					border 3px solid #fff
					line-height 34px
					border-radius 15px
					&:hover
						box-shadow 0 0 10px #fff,inset 0 0 10px #fff
						text-shadow 0 0 5px #fff
					&:active 
						box-shadow none
						border-color #ccc
			
					
			input
				display none
			.controls
				label
					display none
					background: #FEFEFE
					width 50px
					height 50px
					position: absolute
					z-index 1
					top 50%
					transform translateY(-50%)
					text-align: center
					border-radius 50%
					box-shadow 0 0 10px #000
					&:hover
						box-shadow 0 0 15px #8ABFCC
					&:hover>span
						border-top 5px solid #4DC4E0
						border-left 5px solid #4DC4E0
						transition .3a all ease
					span
						display block
						width 20px
						height 20px
						border-top 5px solid #000
						border-left 5px solid #000
						transform rotate(-45deg) 
						position absolute
						left 33%
						top 33%
					
							
						
			#but1:checked~.slide-block
				margin-left 0
			#but1:checked~.controls>label:nth-child(2),
			#but2:checked~.controls>label:nth-child(3),
			#but3:checked~.controls>label:nth-child(4),
			#but4:checked~.controls>label:nth-child(1)
				display block
				color #000
				right 30px
				>span
					transform rotate(135deg)
				
			#but1:checked~.controls>label:nth-child(4),
			#but2:checked~.controls>label:nth-child(1),
			#but3:checked~.controls>label:nth-child(2),
			#but4:checked~.controls>label:nth-child(3)
				display block
				color #000
				left 30px
				>span
					transform rotate(-45deg)
						
			#but2:checked~.slide-block
				margin-left -100%
			#but3:checked~.slide-block
				margin-left -200%
			#but4:checked~.slide-block
				margin-left -300%
			.slide-block		
				width 400%
				transition all 1s ease
				>section
					float left
					width 25%
						
					
					position relative
					
		#team
			margin-top 30px
			h2
				text-align: center
			.figures
				width 80%
				overflow hidden
				margin: 0 auto
				.card
					width 20%
					float left
					margin-left 5%
					text-align: center
					&:hover
						box-shadow 0 0 7px #000
					
					h3
						padding 10px
					
		.price-list
			
			
			padding 70px 100px
			background: #F0F0F0
			overflow hidden
			.columns
				width calc(100%/3)
				float left
				padding 8px
			
				
				.price
					
					display flex
					flex-direction column-reverse
					&:hover
						box-shadow 0 0 10px #72CACB
					li
						border-bottom 1px solid #eee
						text-align: center
						padding 20px
						background: #FFFFFF
						
					.but	
						&:hover ~ .header,
						&:hover > a
							
							transition 1s all ease
						.button
							background: #788492
							padding: 10px 30px
							color #fff
							border-radius 5px
							
					.grey
						background: #F8F9FB
					.header
						background: #000
						color #fff
		footer
			position: relative
			.footer-content	
				position: absolute
				top 0
				left 0
				right 0
				height 100%
				overflow hidden
				h2
					text-align: center
					text-transform capitalize
					margin-top 10%
				form
					float right
					width 30%
					border 1px solid #000
					margin-right 10%
					margin-top 4%
					input
						width 40%
						display inline-block
						border 1px solid #ccc
						padding 5px 10px
						&:nth-child(1)
							float right
					textarea
						width 100%
						margin-top 3%
					button
						padding 10px
						margin-top 3%
			
			