@font-face {
  font-family: lobster;
  src: url("../fonts/3952.ttf");
}
@font-face {
  font-family: opsansreg;
  src: url("../fonts/osreg.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
  opacity: 1;
}
li {
  list-style-type: none;
}
body {
  font: 14px opsansreg;
}
.wrapper {
  max-width: 1920px;
}
.wrapper header {
  overflow: hidden;
  height: 100px;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
}
.wrapper header >a {
  float: left;
  width: 200px;
  line-height: 100px;
  font-size: 30px;
  text-transform: capitalize;
  text-indent: 40px;
  color: #49cbcd;
  font-family: lobster;
  font-size: 3.0714rem;
}
.wrapper header >a:hover {
  text-shadow: 0 0 3px #49cbcd;
}
.wrapper header .nav {
  float: right;
  width: 50%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  margin-right: 7%;
}
.wrapper header .nav li {
  float: left;
  height: 100%;
  width: calc(100% / 6);
}
.wrapper header .nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #000;
  text-transform: capitalize;
  font-size: 1.0714rem;
  text-align: center;
}
.wrapper header .nav li a:hover {
  background: #f8f9fb;
  border-bottom: 3px solid #4fcacb;
  text-shadow: 0 0 1px #000;
  z-index: 1;
}
.wrapper .slide-wrap {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  filter: grayscale(0.4);
  transition: 1s all ease;
}
.wrapper .slide-wrap:hover {
  filter: grayscale(0);
}
.wrapper .slide-wrap:hover>article>h1 {
  text-shadow: 0 0 5px #fff;
}
.wrapper .slide-wrap article {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
.wrapper .slide-wrap article h1 {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}
.wrapper .slide-wrap article p {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.wrapper .slide-wrap article a {
  z-index: 2;
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  display: block;
  width: 150px;
  height: 40px;
  border: 3px solid #fff;
  line-height: 34px;
  border-radius: 15px;
}
.wrapper .slide-wrap article a:hover {
  box-shadow: 0 0 10px #fff, inset 0 0 10px #fff;
  text-shadow: 0 0 5px #fff;
}
.wrapper .slide-wrap article a:active {
  box-shadow: none;
  border-color: #ccc;
}
.wrapper .slide-wrap input {
  display: none;
}
.wrapper .slide-wrap .controls label {
  display: none;
  background: #fefefe;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
}
.wrapper .slide-wrap .controls label:hover {
  box-shadow: 0 0 15px #8abfcc;
}
.wrapper .slide-wrap .controls label:hover>span {
  border-top: 5px solid #4dc4e0;
  border-left: 5px solid #4dc4e0;
  transition: 0.3a all ease;
}
.wrapper .slide-wrap .controls label span {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  transform: rotate(-45deg);
  position: absolute;
  left: 33%;
  top: 33%;
}
.wrapper .slide-wrap #but1:checked~.slide-block {
  margin-left: 0;
}
.wrapper .slide-wrap #but1:checked~.controls>label:nth-child(2),
.wrapper .slide-wrap #but2:checked~.controls>label:nth-child(3),
.wrapper .slide-wrap #but3:checked~.controls>label:nth-child(4),
.wrapper .slide-wrap #but4:checked~.controls>label:nth-child(1) {
  display: block;
  color: #000;
  right: 30px;
}
.wrapper .slide-wrap #but1:checked~.controls>label:nth-child(2) >span,
.wrapper .slide-wrap #but2:checked~.controls>label:nth-child(3) >span,
.wrapper .slide-wrap #but3:checked~.controls>label:nth-child(4) >span,
.wrapper .slide-wrap #but4:checked~.controls>label:nth-child(1) >span {
  transform: rotate(135deg);
}
.wrapper .slide-wrap #but1:checked~.controls>label:nth-child(4),
.wrapper .slide-wrap #but2:checked~.controls>label:nth-child(1),
.wrapper .slide-wrap #but3:checked~.controls>label:nth-child(2),
.wrapper .slide-wrap #but4:checked~.controls>label:nth-child(3) {
  display: block;
  color: #000;
  left: 30px;
}
.wrapper .slide-wrap #but1:checked~.controls>label:nth-child(4) >span,
.wrapper .slide-wrap #but2:checked~.controls>label:nth-child(1) >span,
.wrapper .slide-wrap #but3:checked~.controls>label:nth-child(2) >span,
.wrapper .slide-wrap #but4:checked~.controls>label:nth-child(3) >span {
  transform: rotate(-45deg);
}
.wrapper .slide-wrap #but2:checked~.slide-block {
  margin-left: -100%;
}
.wrapper .slide-wrap #but3:checked~.slide-block {
  margin-left: -200%;
}
.wrapper .slide-wrap #but4:checked~.slide-block {
  margin-left: -300%;
}
.wrapper .slide-wrap .slide-block {
  width: 400%;
  transition: all 1s ease;
}
.wrapper .slide-wrap .slide-block >section {
  float: left;
  width: 25%;
  position: relative;
}
.wrapper #team {
  margin-top: 30px;
}
.wrapper #team h2 {
  text-align: center;
  padding: 10px;
}
.wrapper #team .figures {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.wrapper #team .figures .card {
  width: 20%;
  float: left;
  margin-left: 5%;
  text-align: center;
}
.wrapper #team .figures .card h3 {
  padding: 6px;
}
.wrapper #team .figures .card h3~p {
  margin-bottom: 6px;
}
.wrapper .price-list {
  padding: 5% 10%;
  background: #f0f0f0;
  overflow: hidden;
}
.wrapper .price-list .columns {
  width: calc(100% / 3);
  float: left;
  padding: 8px;
}
.wrapper .price-list .columns .price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.wrapper .price-list .columns .price li {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 10px 0;
  background: #fff;
}
.wrapper .price-list .columns .price .but {
  padding: 15px;
}
.wrapper .price-list .columns .price .but:hover ~ .header,
.wrapper .price-list .columns .price .but:hover > a {
  transition: 1s all ease;
}
.wrapper .price-list .columns .price .but .button {
  background: #788492;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}
.wrapper .price-list .columns .price .grey {
  background: #f8f9fb;
}
.wrapper .price-list .columns .price .header {
  background: #000;
  color: #fff;
}
.wrapper footer {
  position: relative;
}
.wrapper footer .footer-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.wrapper footer .footer-content h2 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 4%;
  text-shadow: 0 0 10px #fff;
}
.wrapper footer .footer-content form {
  float: right;
  width: 30%;
  margin-right: 10%;
  margin-top: 4%;
}
.wrapper footer .footer-content form input {
  width: 40%;
  display: inline-block;
  border: 1px solid #ccc;
}
.wrapper footer .footer-content form input padding 5px 10px {
  z-index: 2;
}
.wrapper footer .footer-content form input:nth-child(1) {
  float: right;
}
.wrapper footer .footer-content form input:required:valid {
  border-color: #008000;
}
.wrapper footer .footer-content form input:required:invalid {
  border-color: #f00;
}
.wrapper footer .footer-content form textarea {
  width: 100%;
  margin-top: 3%;
}
.wrapper footer .footer-content form button {
  padding: 7px 30px;
  margin-top: 3%;
  background: #49cbcd;
  color: #fff;
  float: right;
}
.wrapper footer .footer-content form button:hover {
  box-shadow: 0 0 10px #62f7f7;
}
